.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #00a000;
}

.verde-limao {
    color: #ffffff;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: green; /* Cor de fundo do botão */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .whatsapp-btn img {
    width: 70%; /* Tamanho do ícone do WhatsApp */
    }